.main{
    background: url('background.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 70%;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 300px 100px; */
  background-size: cover;
}

.content{
   background-color: rgb(216, 215, 215);
   width: 50%;

}
.alert{
    width: 380px;
    position: absolute;
    right: 130px ;
   margin-top: 12px;
  
}